<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Limpeza</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
  <div class="servico-limpeza row">
      <div class="imagen-limpeza col-md-3">
      	<div class="row">  
        	<img alt="" class="img-limpeza-1" th:src="@{/image/ID-100105587.jpg}"/>
      		
      	
      	</div>
      </div>
      <div class="descricao-limpeza col-md-9">
        <h3>LIMPEZA E ZELADORIA</h3>
        
        
        <h4><strong>Algo indispensável</strong></h4>
        <div class="texto-limpeza col-md-12">
        <p>Entradas, corredores, salas, escritórios, copas, auditórios, banheiros, janelas, carpetes, móveis, todos devem estar
        	impecáveis, higienizados, limpeza é algo fundamental pra qualquer ambiente, não é apenas uma questão de estética, mas de saude.</p> 
        
        <p>E são muito os cuidados que você terá com estes serviços, utlização de produtos corretos, equipamentos de segurança adequados
        , preocupação com gerenciamento de pessoal e outros.</p>
              
        <p>Você pode contar com uma empresa focada nesses serviços. Nós gerenciamos o fator humano e técnico, para proporcionar a você tranquilidade e
         um ambiente agradável e harmonioso.</p> 

        <p>Temos faxineiros, zeladores, limpadores de vidro.</p>
        </div>
        
      </div>
  </div>

  </div>
</section>

</body>
</html>
