<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Manutenção de Piscinas</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
   <div class="servico-piscinas row">
      <div class="imagen-piscinas col-md-4">
      	<div class="row">  
        	<img alt="" class="img-piscinas-1" th:src="@{/image/ID-10072522.jpg}"/>
      		
      	
      	</div>
      </div>
      <div class="descricao-piscinas col-md-7">
        <h3>MANUTENÇÃO DE PISCINAS</h3>
        
        
        <h4><strong></strong></h4>
        <div class="texto-piscinas col-md-12">
        <p>Aquele sol e você logo pensa em dar um mergulho na piscina, mas não tem nada mais frustante do que encontrar
        	uma piscina suja e mal preservada. </p> 
        
        <p>Àgua de piscina parada, suja e sem aplicação correta de cloro, são problemas de saude, que podem ocasionar frieiras,micoses,cóleras e infecções 
        de todos os tipos.  </p>
              
        <p>A gente faz a manutenção da sua piscina e a sua unica preocupação é em mergulhar nela.</p> 

        </div>
        
      </div>
  </div>

  </div>
</section>

</body>
</html>
