<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Recepcão</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
  <div class="servico-recepcao row">
      <div class="imagen-recepcao col-md-3">
      	<div class="row">  
        	<img alt="" class="img-recepcao-1" th:src="@{/image/ID-100105540.jpg}"/>
      		
      	
      	</div>
      </div>
      <div class="descricao-recepcao col-md-9">
        <h3>RECEPÇÃO E PORTARIA</h3>
        
        
        <h4><strong>A porta de entrada</strong></h4>
        <div class="texto-recepcao col-md-12">
        <p>O hall de entrada é uma area muito importante do seu condomínio ou da sua empresa. É a porta de entrada 
        para todos os visitantes, clientes e moradores. Nada melhor do que ser bem atendido,
        contar com uma equipe bem treinada, que está preparada para lhe dar com diversas situações.</p>
              
        <p>Que estejam bem apresentavéis, zelem da segurança, não deixando que estranhos acessem à areas internas do recinto, que façam
        
        a triagem de documentos de forma correta, e estejam prontos para agir em casos de riscos.</p> 
        
        <p>Nossa equipe é bem identificada e uniformizada.</p>
        <p>Temos atendentes, recepcionistas e porteiros.</p>
        </div>
        
      </div>
  </div>

  </div>
</section>

</body>
</html>
