<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Jardinagem</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
 <div class="servico-jardinagem row">
      <div class="imagen-jardinagem col-md-3">
      	<div class="row">  
        	<img alt="" class="img-jardinagem-1" th:src="@{/image/ID-10056804.jpg}"/>
      		
      	
      	</div>
      </div>
      <div class="descricao-jardinagem col-md-9">
        <h3>JARDINAGEM</h3>
        
        <h4><strong>Se foque naquilo que é importante pra você.</strong></h4>
        <div class="texto-jardinagem col-md-12">
        <p>O cuidado ideal com as plantas do seu jardim, a rega no tempo e quantidades certas, a poda correta. 
        O acompanhamento diário para evitar sujeiras e ervas daninhas tudo isso pode requerer tempo e conhecimento.</p>
              
        <p>Nós cuidamos do seu jardim, de toda manutenção e da decoração. Contamos com profissiobais qualificados, para você se focar naquilo que é importante pra você. 
        </p>
        <p>Deixamos o seu condomínio ou empresa bonitos e agradáveis  </p> 
      
        </div>
        
      </div>
  </div>

  </div>
</section>

</body>
</html>
