<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Segurança e Monitoramento</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
  <div class="servico-seguranca row">
      <div class="imagen-seguranca col-md-3">
      	<div class="row">  
        	<img alt="" class="img-seguranca-1" th:src="@{/image/ID-100104937.jpg}"/>
      		
      	
      	</div>
      </div>
      <div class="descricao-seguranca col-md-8">
        <h3>SEGURANÇA E MONITORAMENTO</h3>
        
        
        <h4><strong>Segurança é coisa séria.</strong></h4>
        <div class="texto-seguranca">
        <p>Porque se preocupar, se você pode contar com uma empresa focada em segurança?</p> 
        <p>Você pode dormir tranquilo sabendo que sua residência está bem protegida.</p>
        <p>Que a sua empresa está segura, todo o seu maquinário bem cuidado, 
        e os dados estratégicos preservados.</p>
              
        <p>Mão de obra especializada e treinada para proteger seu patrimônio.</p>
        <ul type='circle'>
	        <li>Guardas diurnos e noturnos</li>
	        <li>Vigias</li>
	        <li>Monitoramento 24 horas</li>
        </ul>
        
        <p>A um custo benefício atraente e que sastisfará a sua necessidade.</p> 
        </div>
        
      </div>
  </div>

  </div>
</section>

</body>
</html>
