<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>Js Serviços Terceirizados</title>
</head>
<body>
<div class="container">

  <!-- CABECALHO -->
  <div class="cabecalho">
    <div class="area-logo row">
      <div class="logo">
      <image class="imagem-logo" src="imagens/logo-js-sem-letra.jpeg"/><image src="imagens/letra-js.jpeg"/>
      </div>
    </div>
    <div class="area-menu row">
      <div class="menu" >
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="index.html">
              <span class="glyphicon glyphicon-home"></span>
                Home
            </a>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
              Nossos Serviços
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Portaria</a></li>
              <li><a href="#">Zeladoria</a></li>
              <li><a href="#">Limpeza em Geral</a></li>
              <li><a href="#">Recepção</a></li>
              <li><a href="#">Jardinagem</a></li>
              <li><a href="#">Matuntenção de Piscinas</a></li>
              <li><a href="#">Monitoramento e  Segurança</a></li>
            </ul>
          </li>
          <li class="no-active" role="presentation"><a href="#">Tire suas Duvidas</a></li>
          <li class="no-active" role="presentation"><a href="contato.html">Entre em contato</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--CONTEUDO-->
  <div class="area-conteudo">
  <div class="resumo row">
      <div id = "tire-suas-duvidas" class=" well">
        
      </div>
  </div>

  </div>

  <!--RODAPE-->
  <div class="rodape">

    texto
  </div>
</div>
</body>
</html>
