<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/layout-principal">
<head>
<title>Js Serviços Terceirizados - Sobre nós</title>
</head>
<body>
<section id="content" layout:fragment="content">
  <!--CONTEUDO-->
  <div class="area-conteudo">
  <div class="resumo">
      <div id ="sobre-nos" class="sobre-nos">
		  	
		  	<div class="row imagem-sobre-nos">
		  		<img id="imagem-sobre-nos" alt="" th:src="@{image/ID-100107373-A.jpg}"/>
		  	</div>
		  	<div class="row sobre-nos-texto">
			  	<h3>A JS Terceirizações</h3>
			  	<p>
					  	A JS Terceirizações atua na Prestação de Serviços atendendo a 
					
					Condomínios Residenciais e Comerciais, Clínicas Médicas e 
					
					Odontológicas, Hospitais, Escolas e Faculdades, entre outros 
					
					segmentos empresariais. Acompanhando atualizações do 
					
					mercado, com constantes investimentos em infraestrutura, 
					
					tecnologia e equipamentos, na construção de 
					
					Oficina de Manutenção, no Centro de Capacitação e 
					
					treinamento de Colaboradores, no Controle Logístico e 
					
					pontual das ações possui diferenciais que permitem elaborar 
					
					projetos personalizados aprimorando a cada dia o 
					
					atendimento ao cliente.
			  	</p>
			  	<h3>Serviços</h3>
				<p>	  	Os serviços são executados com qualidade e agilidade, 
					
					obedecendo a criteriosos procedimentos e fiscalizados por 
					
					supervisores comprometidos com a excelência em 
					
					resultados e conhecimentos técnicos para avaliar, orientar e 
					
					corrigir as vulnerabilidades identificadas.
			     </p>
				
				<ul type="circle">	
					<li>Seleção e mão de obra especializada</li>
					<li>Implantação e Acompanhamento</li>
					<li>Cursos, Reciclagem Treinamento e Capacitação</li>
					<li>Visitas periódicas e Questionário de satisfação</li>
				</ul>
				
				<h3>Responsabilidade</h3>
				
				<p>
					A JS Terceirizações se responsabiliza pelas obrigações
				
				trabalhistas, fiscais e tributárias, de seus funcionários na 
				
				prestação de serviço contratados. De modo a proteger 
				
				nossos clientes, mantemos seguro de responsabilidade civil 
				
				de nossos funcionários, durante a execução dos serviços.
				
				</p>
				
				<p>Estamos a sua disposição para o esclarecimento de qualquer 
			
					dúvida.</p>	
				
			</div>
		    
    </div>
  </div>

  </div>
</section>

</body>
</html>
